    {%extends 'base.html'%}
    {% load bootstrap4%}
    {%block content%}
    <div class="container-fluid">

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h2 class="display-4">Webinnar</h2>
                <p class="lead">Check out other peoples post, Review and Rate them! You can also post yours to be reviewed!
                </p>
            </div>
        </div>
        <h3>Showcase your post</h3>
        <div class="row">
            {%for proj in post%}
            <div class="col-md-3">
                <div class="card">
                    <div class="view view-cascade overlay">
                        <img src="{{proj.projectscreenshot.url}}" class="img-fluid" alt="">
                        <a href="projects/{{proj.id}}">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="">{{proj.title}}</h5>
                        <a href="projects/{{proj.id}}">Readmore</a>
                    </div>
                </div>
            </div> 
    {%endfor%}
<style>
.container-fluid{
    font-family:san-serif
}
</style>

{% endblock%}

 