<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Gallery</title>
</head>

<body>
    <div class="" style="font-size: 20px; font-family: 'Merienda', cursive;">
        {%extends 'base.html' %}

        {% block content %}
        <style>
            body {
                background-image: url("/media/images/back1.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                z-index: -1;
            }
        </style>
        {{block.super}}
        <h1 class='text-center'> My Gallery Portf</h1>
        <div class="container-fluid text-center landing text-primary">
            <h1 class="mb-4 d-none d-md-block text-center">
                A photograph keeps a moments from running away.
            </h1>
            <p>Search photos from these categories; <strong>Portrait photograph,Fashion photograph and Sports Photography.</strong> </p>
        </div>
        <hr>
        <div class="container-fluid">
            <div class="row">
                {%if locations%}
                {%for location in locations%}
                <div class="col-md-3 mb-3">

                    <!--Card-->
                    <div class="card">

                        <!--Card image-->
                        <div class="view overlay">
                            <a data-toggle="modal" data-target="#photoId{{location.id}}">
                                <img src="{{location.image.url}}" class="card-img-top img-responsive styled" alt="
                                    image" width="100" height="200">
                            </a>
                        </div>
                    </div>
                    <!--/.Card-->

                    <!-- Modal -->
                    <div class="modal fade" id="photoId{{location.id}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog .modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{{location.imageName}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <img src="{{location.image.url}}" class="img-fluid" alt="image">
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="col-sm">Description: {{location.imageDescription}}</div>
                                        <div class="col-sm">Location: {{location.imageLocation}}</div>
                                    </div>
                                    <input class="form-control input-lg" type="text" value="{{location.image.url}}"
                                        id="{{image.id}}.url">
                                    <button type="button" class="btn btn-secondary"
                                        onclick="copy('{{image.id}}.url')">Copy Link</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                {%endfor%}
                {%else%}
                <h2 class="text-center">No pictures for this location</h2>
                {%endif%}

            </div>

        </div>
        {% endblock %}
    </div>
    <!-- Container -->
</body>

</html>
