<div class="cla" style="font-family: 'Jost', sans-serif;">
    {%extends "base.html"%}
    {% load bootstrap3 %}
    {% block content %}
    <div class="container" style="font-family: 'Jost', sans-serif;">
        <div class="row">

            <div class="col-md-6 mx-auto card p-5 mt-5">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h3 class="text-center">Add Project</h3>
                    </div>
                    <div class="panel-body">
                           {% csrf_token %}
                        <form action="{%url 'project'%}" method="post" enctype="multipart/form-data">
                          
                            {% bootstrap_form form %}
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-sm" value="post">
                            </div>
                            <input type="hidden" name="next" value="{{next}}">

                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>

    {% endblock %}
</div>