{%include 'base.html'%}
{%block content%}
{%load bootstrap3%}
<div class="container" style="font-family: 'Jost', sans-serif;">
    <p>{{project.title}}</p>
    <p>{{project.description }}</p>
    <div class="row  p-5 mt-5">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="card p-3">
                    {% csrf_token %}      
                    <form class="form" action="" method="post" novalidate>
                        
                        {% bootstrap_form form %}
                        <div class="row pl-5">
                            <button type="submit" class="btn btn-sm btn-outline-primary"
                                style="margin-top:14px; margin-left:-10px">Review</button>
                        </div>


                    </form>

                </div>

            </div>
        </div>
        <div class="col-md-6">
            <h3>Reviews</h3>
            <div class="row">
                {%for revi in reviews%}
                <p class="text-secondary pr-3">{{user.username}}</p>
                <p class="pr-2"> {{revi.text}}</p>
                <p class="pr-3">Design : {{revi.design}}</p>
                <p class="pr-2"> Usability: {{revi.usability}}</p>
                <p class="pr-2"> Content: {{revi.content}}</p>
                {%endfor%}
            </div>

        </div>
    </div>
</div>

{%endblock%}